<!doctype html>
<html ng-app="wordApp"lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>Six-Year Old Simulator</title>
</head>
<body ng-controller="wordCtrl">
  <button type="button" ng-click="word()">Word</button>
  <button type="button" ng-click="phrase()">Phrase</button>
  <button type="button" ng-click="wordStyled()">Word Styled</button>
  <button type="button" ng-click="phraseStyled()">Phrase Styled</button>

  <div>
    <span class="ng-class: obj.styling" ng-repeat="obj in arrayOfWords"> {{ obj.word }}</span>
  </div>



  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js"></script>
  <script src="https://code.angularjs.org/1.6.5/angular-route.js"></script>
  <script src="module.js"></script>
  <script src="controller.js"></script>
  </body>
</html>
